
@font-face {
  font-family: Spectral;
  src: url('../Spectral/Spectral-Regular.ttf');
}

body {
  font-family: Spectral !important;
  font-size: 14px;
}

.navbar-brand{
    color:  #cddddd !important;
}

.navbar a {
  color: #fff;
}

.navbar {
  padding: 0.1rem 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

/* .navbar-nav {
  margin-left: 14em;
} */

.dropdown-item{
  color: #151515 !important;
}

.table td, .table th {
    padding: 0.5rem !important;
    font-size: small;
}

.bg-purple {
    background-color: #63099b ;
}

.sidebar-container {
    position: fixed;
    /* width: 220px; */
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #212529;
    color: #fff;
    flex: 1;
    z-index: 9999;
  }

.sidebar-collapse-container {
  width: 58px !important;
}

.sidebar-collapse-container li a {
  padding: 10px 15px 10px 23px !important;
}

.sidebar-collapse-container li a span {
  display: none;
}

.sidebar-collapse-container a span {
  display: none;
}

.sidebar-collapse-container .sidebar-logo i {
  margin-top: -6px;
}

.sidebar-collapse-container .sidebar-logo{
  padding: 20px 20px 22px 15px;
}

.navbar-collapse-navbar
  .ml-8 {
    margin-left: 3rem;
  }
.navbar-collapse-navbar .navbar-brand{
  display: none;
  }

  .d-flex {
      display: flex;
  }
  
  .content-container {
    padding-top: 20px;
  }
  
  .sidebar-logo {
    padding: 6px 15px 6px 15px;
    font-size: 20px;
    background-color: #531778;
}
  
  .sidebar-navigation {
    padding: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
  }
  
  .sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #cdccca;
  }
  
  .sidebar-navigation li .fa {
    margin-right: 14px;
    color: #cdccca;
    font-size: large;
  }
  
  .sidebar-navigation li a:active,
  .sidebar-navigation li a:hover,
  .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
  }

  .sidebar-logo a {
    color: #fff;
  }

  .sidebar-logo i {
    margin-top: 9px;
    font-size: 1rem;
  }

  .sidebar-logo a:hover
  {
    text-decoration: none;
    outline: none;
  }

  .sidebar-navigation li::before {
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    width: 3px;
    z-index: -1;
  }
  
  .sidebar-navigation li:hover::before {
    background-color: #2574A9;
    width: 100%;
  }
  
  .sidebar-navigation li.active {
    background-color: #2574A9;
    width: 100%;
  }
  
  .sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
  }
  
  .sidebar-navigation .header::before {
    background-color: transparent;
  }
  
  .content-container {
    padding-left: 220px;
  }

  .content {
    margin-left: 220px;
    }

  .btn-sm {
    border-radius: 0.1rem;
  }

  /* .navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    height: 3rem;
  } */

  .mt-6 {
    margin-top: 6em;
  }

  /* .collapse {
    margin-left: 11px;
  } */

  .content .collapse {
    margin-left: 0 !important;
  }

  .navbar #togglesidebar {
    margin-left: 11px;
  }

  .content #togglesidebar {
    margin-left: 0 !important;
    margin-right: 9px;
  }

  .content .right-menu {
    margin-left: auto;
    right: 220px;
}

  .right-menu {
    margin-right: 0;
    margin-left: auto;
  }

 .static {
   position: static !important;
 }

 .modal-footer {
  justify-content: center !important;
}

@media screen and (max-width:500px){
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;
    padding: 0;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;
    padding: 0;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;
  padding: 0;}
  .sidebar-container{
    width: 16.66%;
  }
  .sidebar-container li a span {
    display: none;
  }
  table tbody button span {
    display: none;
  }
  .sidebar-logo {
    font-size: 17px;
    padding: 9px 15px 9px 15px;
  }
  .sidebar-container #togglesidebar i{
    display: none;
    }
    .navbar-brand{
      margin-left: -4px;
    }
    .display-4 {
      font-size: 1.5rem;
  }
}

@media screen and (min-width:768px){
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

@media screen and (min-width:1024px){
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}    
  }

@media (min-width: 768px){
.flex-nowrap {
    flex-wrap: nowrap!important;
}
}

.column {
  float: left;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.ml {
  margin-left: -0.75rem;
}

.dropdown-item i {
  margin-left: 9px;
  margin-right: 4px;
}

.dropdown-item{
  padding: 0 !important;
  font-weight: 0 !important;
  font-size: small !important;
}

.ml-8{
  margin-left: 11rem;
}
.modal-open .modal {
  z-index: 9999;
}
          
.navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}